$Appmain-white: #f8f8f8;
$Appmain-whiteDetail: #fefefe;
$Grey-mainColor: #737380;
$LightenGrey-mainColor: #afafbd;
$Pink-mainColor: #e559f9;
$background-mainColor: #29292e;
$Google-redColor: #ea4335;
$Purple-mainColor: #835afd;

#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: $Appmain-white;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    font-size: 10px;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      margin: 48px 0 24px;
    }

    h1 {
      font-size: 44px;
      color: $Pink-mainColor;
    }

    form {
      input {
        color: #ffffff;
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: rgba(255, 255, 255, 0.083);
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    // Create Room Page edits--------------------------

    .img-avatar {
      height: 120px;
      width: 120px;

      border-radius: 999999px;
      margin-bottom: 12px;
    }
    h2 {
      color: $LightenGrey-mainColor;
    }

    p {
      font-size: 14px;
      color: $LightenGrey-mainColor;
    }
    a {
      color: $Pink-mainColor;
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: $Google-redColor;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}
