$Appmain-white: #f8f8f8;
$Appmain-whiteDetail: #fefefe;

$Grey-mainColor: #737380;
$LightenGrey-mainColor: #afafbd;

$Pink-mainColor: #e559f9;
$LightenPink-mainColor: #f28fff;

$background-mainColor: #29292e;

$Google-redColor: #ea4335;

$DarkenPurple-mainColor: #4220a7;
$Purple-mainColor: #835afd;
$LightenPurple-mainColor: #b69eff;

$Disabled-Icon: #737380;

.question {
  background: #494949;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;


    // icone de highlight SEM HIGHLIGHT
    footer .children .highlight-button-icon  {
      stroke: $Disabled-Icon 
    }
    // icone de answerrrrrrr SEM HIGHLIGHT
    footer .children .answer-button-icon  {
      stroke: $Disabled-Icon 
    }


  & + .question {
    margin-top: 8px;
  }
  
  &.highlighted {
    border: #835afd 2px solid;
    background: #835afd6e;
    
    
    footer .user-info span {
      color: #c2c2d0; 
    }
    
    // icone de highlight
    footer .children .highlight-button-icon  {
      stroke: $LightenPurple-mainColor; 
      fill: $Google-redColor;
    }
  }
  
    &.answered {
      border: #737380 dashed 1px;
      filter: brightness(0.6);
      // background: #383838;
      // //Texto da pergunta
      // p{
      //   color: #5c5a5a;
      // }
  
      // icone de answer
      footer .children .answer-button-icon  {
        stroke: $LightenPurple-mainColor; 
      }
  
    }
  
  p {
    color: $Appmain-white;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      //nome do user
      span {
        margin-left: 8px;
        color: $LightenGrey-mainColor;
        font-size: 14px;
      }
    }

    //iconess
    > div {
      display: flex;
      gap: 8px;
    }

    //icone em si
    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;

        gap: 4px;

        svg {
          size: 77px;
        }

        &.liked {
          color: #835afd;

          svg {
            fill: #835afd;
            
          }
        }
      }

      &:hover {
        filter: brightness(1.3);
      }
    }
  }
}
